<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="static/style.css" />
    <title>IoT</title>
  </head>
  <body>
    <h1>IoT</h1>
    <div class="container">
      <div class="card">
        <div class="card_header">DHT</div>
        <div class="card_body">
          <div id="temperature">Temperature</div>
          <div id="humidity">Humidity</div>
        </div>
      </div>
    </div>
  </body>
  <script src="static/index.js"></script>
</html>
